.layer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.swiper {
  height: 80vh;
  padding-bottom: 10rem;
}

.header {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

#uploadThemeText {
  white-space: nowrap;
}
