.FriendsViewer {
  z-index: 0;
}

.sections {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 3rem;
}

.contents {
  overflow: auto;
}

.hoverText {
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.FriendsViewer div#searchFriendBtn:hover .hoverText {
  bottom: -1rem;
  opacity: 1;
}

.FriendCard {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray-4);
  padding: 0.25rem 0rem;
  position: relative;
}

.FriendCard .info {
  width: calc(100% - 4rem);
}

.FriendCard .activeInfo {
  margin-left: 3rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 4rem;
  display: flex;
  justify-content: center;
}

.section#onlineFriends .FriendCard:nth-last-child(1) {
  margin-bottom: 17rem;
}

.section#offlineFriends .FriendCard:nth-last-child(1) {
  margin-bottom: 2rem;
}

.header {
  background-color: var(--gray-1);
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  border-radius: 0.8rem;
  margin-top: 1rem;
}

.header h2 {
  font-weight: 600;
  font-size: 1.2rem;
}
