.SubjectTimer {
  position: relative;
  color: #fff;
}

.header {
  display: flex;
}

.pomodoroToggle {
  display: flex;
  align-items: center;
}

.pomodoroToggle p {
  margin: 0rem 1rem;
  color: var(--gray-1);
  transition: 0.3s ease-in-out color;
}

.pomodoroToggle.active p {
  color: var(--gray-1);
}

.mainDisplay {
  display: flex;
  align-items: center;
  z-index: 2;
}

.mainDisplay .subject {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out background-color;
  margin-right: 0.5rem;
}

/* .mainDisplay .subject.active, .mainDisplay .subject:hover {
  background-color: var(--gray-1);
} */

.mainDisplay .subject .name {
  margin-right: 0.5rem;
}

.mainDisplay .subject .time {
  width: 6.5rem;
}

.mainDisplay i#caret {
  transform: rotate(0deg);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 1.25rem;
  font-size: 1.875rem;
}

.mainDisplay i#caret.active {
  transform: rotate(180deg);
}

.mainDisplay .buttons {
  margin-left: auto;
}

.button {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out background-color;
  border-radius: 0.25rem;
}

.button#addSubject {
  font-size: 2.5rem;
  font-weight: 400;
  margin-right: 0.5rem;
  margin-left: auto;
  position: relative;
}

.button#addSubject:hover .hoverText {
  opacity: 1;
  bottom: -2rem;
}

.button#addSubject .hoverText {
  bottom: -3rem;
}

.button:hover {
  background-color: var(--gray-1);
  border-bottom-left-radius: 0rem;
}

.subjects {
  position: absolute;
  z-index: 2;
  background-color: var(--opacity-black);
  width: calc(100% - 3rem);
  max-height: 10rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 0rem;
  transition: font-size 0.3s ease-in-out;
  overflow-y: auto;
}

.subjects.active {
  font-size: 1rem;
}

.subject {
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.subjects .name {
  margin: 0rem 1rem;
}

.subjects .subject .time {
  margin: 0rem 1rem 0rem auto;
}

.pomodoroTimer {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
  height: 0;
  overflow: hidden;
}

.pomodoroTimer.active {
  opacity: 1;
  visibility: visible;
  height: unset;
}
