.RefreshBtn {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-90deg);
  }



  100% {
    transform: rotate(360deg);
  }
}

.RefreshBtn.refresh {
  animation: rotate 0.5s forwards;
}