.Account {
  margin: 1rem 3rem;
}

.layer {
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: center;
  margin-left: 11rem;
}

.layer .boxContainer {
  flex: 1;
  width: 90%;
}

.layer:nth-child(1) {
  align-items: center;
  flex-direction: column;
}

.imgSelector {
  position: relative;
}

.imgSelector .uploadBtn {
  color: rgb(66, 66, 66);
}
.imgSelector .fileUpload {
  display: none;
}

.imgSelector .circle {
  border-radius: 100%;
  overflow: hidden;
  width: 9.5rem;
  height: 9.5rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSelector .pImage {
  position: absolute;
  top: 0.14rem;
  left: 0.1rem;
  color: #666666;
  background-color: #acacac;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.imgSelector .pImage:hover {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.imgSelector .uploadBtn {
  font-size: 2em;
}

.Account div#welcome {
  font-size: 1.35rem;
  margin-top: 1rem;
}

.boxContainer#profile .name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.boxContainer#profile .emails {
  display: flex;
  margin-bottom: 2rem;
}

.boxContainer#profile .emails > * {
  flex: 1;
  margin-top: 0.5rem;
}

.boxContainer#profile .emails > :first-child {
  margin-right: 1rem;
}

.boxContainer .buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: auto;
}

.chromeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons div#verifyBtn {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

.buttons div#verifyBtn.hidden {
  opacity: 0;
}

.AccountExplain {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.Passwords {
  display: flex;
  flex-direction: column;
}

.Passwords > * {
  margin-bottom: 0.5rem;
}

.Passwords > :nth-child(1) {
  margin-top: 0.5rem;
}

.Passwords > :nth-child(2) {
  margin-top: 0.5rem;
}

.passwordDescription {
  color: var(--gray2);
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 1rem;
}

.passwordDescription h3 {
  font-weight: 500;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.Account#Youtube {
  margin-left: 1rem;
}
.app#googleCalendar {
  margin-left: 1rem;
}

.app .icon {
  width: 4rem;
  height: 4rem;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
}

.app .description p {
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 90%;
}

.app .authBtn {
  margin-left: auto;
  display: flex;
  margin-bottom: 1rem;
}

.header a {
  display: flex;
  gap: 1rem;
  text-decoration: underline;
}
