.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.layer {
  display: flex;
  gap: 2rem;
}

.layer > div {
  flex: 1;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#welcome h2 {
  font-size: 3rem;
}

.imgSelector {
  position: relative;
}

.imgSelector .uploadBtn {
  color: rgb(66, 66, 66);
}
.imgSelector .fileUpload {
  display: none;
}

.imgSelector .circle {
  border-radius: 100%;
  overflow: hidden;
  width: 9.5rem;
  height: 9.5rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSelector .pImage {
  position: absolute;
  top: 0.14rem;
  left: 0.1rem;
  color: #666666;
  background-color: #acacac;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  opacity: 0;
}

.imgSelector .pImage:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.imgSelector .uploadBtn {
  font-size: 2em;
}

.layer form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.layer li {
  list-style: none;
}

.layer h2 {
  font-size: 2rem;
}

.passwordInput {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.layer#update > div {
  display: flex;
  flex-direction: column;
}

.header#centerHeader {
  justify-content: center;
  flex-direction: column;
}

.header a {
  display: flex;
  gap: 0.5rem;
  text-decoration: underline;
  align-items: center;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
}

.app {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.app#googleCalendar .icon {
  font-size: 3.5rem;
}

.app#youtube .icon {
  font-size: 3.5rem;
}

.app#spotify .icon {
  font-size: 3rem;
}

.app .description {
  flex: 1;
}
