.AppTrial {
  position: relative;
}

.AppTrial .swiper {
  width: 13rem;
  position: relative;
  border-radius: 2rem;
  height: 27.5rem;
}

.AppTrial .layout {
  position: absolute;
  top: -0.5rem;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 28rem;
  pointer-events: none;
}
