.SubjectsPie {
  height: 100%;
}

.SubjectsPie .options {
  justify-content: center;
}

.SubjectsPie svg > * {
  pointer-events: all;
}

.SubjectsPie div#dateSelectorBtn {
  font-size: 1rem;
}

.SubjectsPie .options {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.SubjectsPie .chartContainer {
  width: 90%;
  aspect-ratio: 1 / 1;
  position: relative;
  min-height: 20rem;
  margin-bottom: 1rem;
  align-self: center;
}

.SubjectsPie .chartContainer#noChart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: underline;
  align-self: center;
}

.SubjectsPie .totalTime {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.SubjectsPie .totalTime .time {
  font-size: 1.5rem;
}

.SubjectsPie .totalTime .text {
  color: var(--gray1);
}

.SubjectsPie .labels {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40%);
  justify-content: center;
  gap: 2rem;
  overflow-y: auto;
}

.SubjectsPie .labels .label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.SubjectsPie .labels .label .icon {
  left: -1.25rem;
  top: 0.25rem;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}

.SubjectsPie .labels .label .name {
  font-size: 0.9rem;
  color: var(--gray1);
}

.SubjectsPie .labels .label .time {
  font-size: 1.1rem;
}
