.SubjectsPie {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.options {
  justify-content: center;
}

.SubjectsPie svg > * {
  pointer-events: all;
}

.SubjectsPie div#dateSelectorBtn {
  font-size: 1rem;
}

.options {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.chartContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  min-height: 20rem;
  margin-bottom: 1rem;
  align-self: center;
}

.chartContainer#noChart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: underline;
  align-self: center;
}

.totalTime {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.totalTime .time {
  font-size: 1.5rem;
}

.totalTime .text {
  color: var(--gray-3);
}

.labels {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40%);
  justify-content: center;
  gap: 2rem;
  overflow-y: auto;
}

.labels .label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.labels .label .icon {
  left: -1.25rem;
  top: 0.25rem;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}

.labels .label .name {
  font-size: 0.9rem;
  color: var(--gray-3);
}

.labels .label .time {
  font-size: 1.1rem;
}
