.DateSelectorBtn {
  display: flex;
  align-items: center;
  color: var(--gray2);
  margin: 0rem 0.2rem;
}

.DateSelectorBtn p {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0em 0.5em;
  cursor: pointer;
  white-space: nowrap;
  color: var(--date-selector-color);
}

.DateSelectorBtn .button {
  font-size: 2em;
  cursor: pointer;
  padding: 0.4rem;
}
