.Study {
  background-color: #000;
  margin-top: 0em;
  --subjectLabelsColor: var(--gray-1);
  --filteredSubjectLabelsColor: var(--gray-3);
  --planDescriptionColor: "#fff";
  --date-selector-color: #fff;
  --text-color: #fff;
  color: #fff;
  --icon-color: var(--gray-2);
  --hover-icon-color: #fff;
  --box-background-color: transparent;
}

.ytBg {
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: 100vw;
}

.MyGroupsViewer {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
  position: fixed;
  width: 60vw;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.MyGroupsViewer.visible {
  opacity: 1;
  visibility: visible;
}

.studyOptions {
  position: fixed;
  top: 3rem;
  right: 3rem;
  display: flex;
}

.studyOptions .studyOption {
  background-color: var(--opacity-black);
  color: #fff;
  width: 4em;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.studyOptions .studyOption .hoverText {
  bottom: -2rem;
}

.studyOptions .studyOption:hover .hoverText {
  opacity: 1;
  visibility: visible;
  bottom: -1rem;
}

.studyOptions .studyOption i {
  font-size: 2rem;
}

.StudyModalContainer {
  background-color: var(--opacity-black);
  z-index: 4;
  position: fixed;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  max-width: 35rem;
  border-radius: 1rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
}

.StudyModalContainer.visible {
  visibility: visible;
  opacity: 1;
}

.StudyModalContainer#timer {
  left: 3rem;
  top: 3rem;
}

.StudyModalContainer#planner {
  left: 3rem;
  bottom: 8rem;
  min-width: 25rem;
}

.StudyModalContainer#media {
  right: 3rem;
  top: 10rem;
}

.StudyModalContainer#audioController {
  right: 3rem;
  bottom: 10rem;
}

.StudyModalContainer#themeSelector {
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.StudyModalContainer#playlists {
  right: 3rem;
  top: 50vh;
  transform: translateY(-50%);
}

.StudyModalContainer#groups {
  width: 60vw;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  max-width: unset;
  background-color: unset;
  z-index: 1;
}

.StudyModalContainer#timeline {
  bottom: 0rem;
  left: 50vw;
  transform: translateX(-50%);
  width: 70vw;
  max-width: unset;
  color: #000;
  padding: 0rem;
  background-color: unset;
}

.StudyModalContainer#timeline .header i {
  background-color: var(--opacity-black);
}

.StudyModalContainer .header {
  font-size: 1.7rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.StudyModalContainer .header i {
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
