.PlanModal {
  --modalWidth: 31.25rem;
}

.PlanModal .inner {
  width: var(--modalWidth);
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.PlanModal .buttons {
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
}

.UserBoxes {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBoxes > div {
  display: flex;
}
