.ThemesContainer {
  --theme-width: 22rem;
  position: relative;
  grid-template-columns: repeat(auto-fill, var(--theme-width));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  display: grid;
  margin-bottom: 15rem;
  --icon-color: var(--gray1);
  --hover-icon-color: #fff;
}