.Home {
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
}

.mainViewer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #517dff, rgb(66, 186, 255));
  position: relative;
}

.mainViewer .wave {
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
}

.mainViewer .floating {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--main-offset);
  z-index: 2;
  color: #fff;
  max-width: 60vw;
}

.mainViewer .floating h3 {
  font-size: 2rem;
}

.mainViewer .floating > p {
  margin: 2rem 0rem;
  font-weight: 400;
}

.mainViewer .app {
  position: absolute;
  right: var(--main-offset);
  transform: translateY(-50%);
  top: 50%;
}

.Home .mainViewer .description {
  margin: 2rem 0rem;
}

.section {
  margin: 10rem var(--main-offset);
  display: flex;
  gap: 3rem;
  position: relative;
}

.section .layer {
  flex: 1;
  position: relative;
}

.section .title {
  font-size: 0.9rem;
  color: var(--blue-3);
  font-weight: 600;
  font-size: 1.2rem;
}

.section .title h2 {
  font-weight: 600;
}

.section .subTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section .description {
  color: var(--gray-3);
  font-weight: 500;
  margin: 1rem 0rem;
}

.section#about div#phone2 {
  position: absolute;
  left: 12rem;
  rotate: 35deg;
}

.section#about div#phone3 {
  position: absolute;
  left: 0rem;
}

.section .scroll {
  width: 0rem;
  height: 0rem;
  position: absolute;
  top: -10rem;
}

.boxes {
  display: grid;
  grid-template-rows: auto-fit;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 2rem;
}

.Box {
  background-color: var(--blue-1);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out box-shadow, transform 0.3s ease-in-out;
  box-shadow: var(--shadow-7);
}

.Box:hover {
  box-shadow: var(--shadow-2);
  transform: translateY(-1rem);
}

.Box .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: var(--blue-3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.Box .title {
  color: #000;
  font-weight: 600;
  margin: 1rem 0rem;
  font-size: 1.1rem;
}

.section#features .layer > .title,
.section#features .layer .subTitle {
  text-align: center;
}

.section#review {
  flex-direction: column;
}

.section#review .layer > .title,
.section#review .layer .subTitle {
  text-align: center;
}

.section#review .swiper {
  position: relative;
}

.section#review .swiperSlide {
  display: flex;
}

.Review {
  flex: 1;
  margin: 1rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.Review::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background: var(--blue-gradient);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.Review.focused::before {
  opacity: 1;
}

.Review .info {
  display: flex;
}

.Review .profile {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.Review .profile .img {
  border-radius: 0.5rem;
  width: 4.5rem !important;
  height: 4.5rem !important;
  overflow: hidden;
}

.Review .description {
  transition: 0.3s ease-in-out color;
}

.Review.focused .description {
  color: #fff;
}

.Review .feedback {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--gray-3);
  transition: color 0.3s ease-in-out;
  margin-top: 1rem;
}

.Review.focused {
  transform: scale(1.05); /* Example to make the transition more noticeable */
  color: #fff;
}

.Review.focused .feedback {
  color: #fff;
}

.Review .stars {
  color: rgb(255, 208, 0);
}

.section#review .buttons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  color: #fff;
  font-size: 1.75rem;
}

@media (max-width: 600px) {
  .mainViewer {
    height: 120vh;
  }

  .mainViewer .floating {
    top: calc(5rem + 3rem);
    transform: unset;
    max-width: unset;
  }

  .mainViewer .app {
    right: var(--main-offset);
    transform: unset;
    bottom: 0rem;
  }

  .section#about {
    display: block;
  }

  .section#about .layer#phoneLayer {
    height: 50vh;
    margin-top: 10rem;
  }

  .boxes {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    margin-top: 2rem;
  }
}
