.VideoCallController {
  color: #fff;
  width: 20rem;
}

.VideoCallController .header {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.VideoCallController .controller {
  display: flex;
  padding: 1rem 0rem;
}

.VideoCallController .controller i {
  margin-left: auto;
  font-size: 1.5rem;
}

.VideoCallController .controller:not(:nth-last-child(1)) {
  border-bottom: 0.1rem var(--gray-2) solid;
}
