.SubjectsManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10.75rem);
  justify-content: center;
}

.SubjectsManager .subject {
  margin: 0.5rem 0rem;
}

.SubjectsManager .subject .name {
  width: 5rem;
  white-space: nowrap;
  font-size: 1.1rem;
}
