.MyGroupContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 1rem;
}

.name {
  max-width: 20rem;
  overflow: hidden;
  margin-right: 1rem;
}

.header .info {
  display: flex;
  gap: 1rem;
}

.header .info > div {
  display: flex;
  align-items: center;
}

.header .info i {
  margin-right: 0.5rem;
}

.MembersContainer {
  flex: 1;
  overflow-y: auto;
}

.memberSkeletons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.75rem);
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.MembersContainer .memberSkeleton {
  display: block;
  height: 7.5rem;
  margin: 0.625rem;
  border-radius: 1.25rem;
}

@media (max-width: 1400px) {
  .memberSkeletons {
    grid-template-columns: repeat(auto-fill, 17.5rem);
  }
}

.buttons {
  padding-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.MembersStatus {
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  right: 0rem;
  top: 0rem;
}
