.MyGroupContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.MyGroupContainer .header {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--textColor);
  font-size: 2rem;
  margin-top: 1rem;
}

.MyGroupContainer .name {
  max-width: 20rem;
  overflow: hidden;
  margin-right: 1rem;
}

.MyGroupContainer .header .info {
  display: flex;
}

.MyGroupContainer .header .info > div {
  display: flex;
  margin: 0rem 0.3rem;
}

.MyGroupContainer .MembersContainer {
  flex: 1;
  overflow-y: auto;
}

.MyGroupContainer .memberSkeletons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.75rem);
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.MyGroupContainer .MembersContainer .memberSkeleton {
  display: block;
  height: 7.5rem;
  margin: 0.625rem;
  border-radius: 1.25rem;
}

@media (max-width: 1400px) {
  .MyGroupContainer .memberSkeletons {
    grid-template-columns: repeat(auto-fill, 17.5rem);
  }
}

.MyGroupContainer .buttons {
  padding-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyGroupContainer .MembersStatus {
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  right: 0rem;
  top: 0rem;
}
