.header {
  justify-content: left;
}

.header .DateSelectorBtn {
  font-size: 0.9rem;
  margin-left: auto;
}

.options {
  display: flex;
  border-bottom: 0.1rem var(--gray-1) solid;
  padding: 1rem 0rem 1.5rem 0rem;
  margin-bottom: 1.5rem;
}

.options .viewOptions {
  display: flex;
  align-items: center;
  height: 1.5rem;
  color: var(--gray-3);
}

.viewOptions .viewOption {
  cursor: pointer;
  padding: 0rem 0.3rem;
  border-radius: 0.2rem;
  transition: 0.3s ease-in-out background-color;
}

.viewOptions .viewOption.active {
  background-color: var(--gray-1);
}

/* .viewOptions .viewOption:nth-child(1) {
  padding-right: 0.5rem;
}

.viewOptions .viewOption:not(:nth-child(1)) {
  padding-left: 0.5rem;
} */

.options .viewOptions .divider {
  width: 0.1rem;
  background-color: var(--gray-1);
  height: 100%;
  margin: 0.5rem;
}

.options .friendsBtn {
  display: flex;
  margin-left: auto;
}

.friendsBtn p {
  margin-left: 1rem;
  color: var(--gray-2);
  font-weight: 400;
  transition: 0.3s ease-in-out color;
}

.friendsBtn.enabled p {
  color: #000;
}

.RankingContainer {
  margin-bottom: 1rem;
}

.RankingContainer .title {
  font-size: 1.2rem;
}

.RankingContainer .userContainer {
  display: flex;
  margin-top: 0.5rem;
  position: relative;
}

.RankingContainer .userContainer .studyTime {
  margin: 0rem 1rem 0rem auto;
}

.RankingContainer:nth-last-child(1) {
  margin-bottom: 2rem;
}
