.SubjectsTimeline {
  width: 100%;
  height: 100%;
}

.SubjectsTimeline .timeline {
  overflow-x: hidden;
  overflow-y: auto;
}

.SubjectsTimeline .noTimeline {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 2rem;
}

.SubjectsTimeline .noTimeline a {
  text-decoration: underline;
  font-weight: bold;
}
