.SubjectsTimeline {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.SubjectsTimeline .timeline {
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.SubjectsTimeline .noTimeline {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 2rem;
}

.SubjectsTimeline .noTimeline a {
  text-decoration: underline;
  font-weight: bold;
}
