.layer {
  display: flex;
  gap: 2rem;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right {
  width: 25rem;
}

.profileCard {
  display: flex;
  gap: 2rem;
}

.profile {
  width: 20rem;
  height: 20rem;
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 2rem;
}

.profileImage {
  border-radius: 2rem;
}

.userStatus {
  position: absolute;
  right: -0.5rem;
  bottom: -0.5rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.userInfo .name {
  font-size: 2.5rem;
}

.userInfo .buttons {
  display: flex;
  gap: 1rem;
}

.box {
  min-height: 30rem;
}

/* right */

.groups {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
