.CreateGroupModal {
  --modalWidth: 33rem;
}

.CreateGroupModal .inner {
  width: var(--modalWidth);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 31.25rem;
}

.CreateGroupModal .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.CreateGroupModal .inputArea {
  width: 100%;
  margin-left: 1.25rem;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.CreateGroupModal .inputArea input {
  width: 100%;
  height: 1.25rem;
}

.CreateGroupModal .inputArea.open {
  opacity: 1;
}
