.JoinGroupModal {
  --modalWidth: 31.25rem;
}

.JoinGroupModal .inner {
  width: var(--modalWidth);
  max-height: 60vh;
  display: flex;
  flex-direction: column;
}

.JoinGroupModal .groupWrapper {
  padding: 1.5rem;
}

.JoinGroupModal .contents {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  overflow-y: auto;
  flex: 1;
}

.JoinGroupModal .blobWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem;
}

.JoinGroupModal .text {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
