.CopyBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 1.875rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
  border: 0.125rem solid var(--gray-2);
  border-radius: 2.5rem;
}

.CopyBtn i {
  transition: 0.3s ease-in-out color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.CopyBtn:hover i {
  color: var(--hover-icon-color);
}

.hoverText {
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.CopyBtn:hover .hoverText {
  bottom: -1rem;
  opacity: 1;
}
