.SearchBar {
  width: 100%;
  position: relative;
  height: 3.125rem;
  background-color: #fff;
  box-shadow: var(--shadow-7);
  border-radius: 0.5rem;
  overflow: hidden;
}

.SearchBar input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}
@keyframes ziggleGrow {
  0% {
    width: 0rem;
  }
  90% {
    width: 4rem;
  }
  100% {
    width: 3rem;
  }
}

@keyframes smoothShrink {
  0% {
    width: 3rem;
  }
  100% {
    width: 0rem;
  }
}

.searchBtn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-color: var(--orange-2);
  height: 100%;
  width: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease-out;
  cursor: pointer;
}

.searchBtn.enabled {
  animation: ziggleGrow 0.3s ease-out forwards;
}

.searchBtn:not(.enabled) {
  animation: smoothShrink 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}
