.UserContainer {
  display: flex;
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.name {
  margin: 0rem 0.313rem;
}

.flag {
  font-size: 1.5rem;
}

.buttons {
  margin: 0rem 0.7rem 0rem auto;
  display: flex;
}

.buttons > div {
  margin: 0rem 0.25rem;
}
