.UserContainer {
  display: flex;
  position: relative;
}

.UserContainer .userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.UserContainer .name {
  margin: 0rem 0.313rem;
}

.UserContainer .flag {
  font-size: 1.5rem;
}

.UserContainer .buttons {
  margin: 0rem 1rem 0rem auto;
  display: flex;
}

.UserContainer .buttons > div {
  margin: 0rem 0.25rem;
}