.GoogleLoginBtn {
  position: relative;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  padding: 0.625rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out box-shadow;
  color: #000;
  box-shadow: var(--shadow-7);
  gap: 0.5rem;
}

.GoogleLoginBtn:hover {
  box-shadow: var(--shadow-4);
}

.GoogleLoginBtn p {
  white-space: nowrap;
  word-break: keep-all;
  font-weight: 600;
}

.GoogleLoginBtn i {
  font-size: 1.5rem;
}
