.FriendRequestsViewer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  flex-direction: column;
}

.friendRequests {
  overflow-y: auto;
}

.FriendRequestContainer {
  display: flex;
}

.FriendRequestContainer .buttons {
  display: flex;
  margin: 0rem 1rem 0rem auto;
}

.FriendRequestContainer .buttons .button {
  font-size: 1.5rem;
  margin: 0.2rem;
  cursor: pointer;
  position: relative;
  box-shadow: var(--shadow4);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.FriendRequestContainer .buttons .button .hoverText {
  bottom: -2rem;
  transform: translateX(-50%);
  left: 50%;
}

.FriendRequestContainer .buttons .button:hover .hoverText {
  opacity: 1;
  bottom: -1rem;
}

.FriendRequestContainer:nth-last-child(1) {
  padding-bottom: 2rem;
}
