.ShareUserBox {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShareUserBox:hover {
  z-index: 3;
}

.ShareUserBox .hoverText {
  bottom: -2rem;
}

.ShareUserBox:hover .hoverText {
  bottom: -1.5rem;
  opacity: 1;
}

.ShareUserBox.pending img {
  filter: brightness(50%);
}
