.PlansTimeline {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.header .layer {
  display: flex;
  align-items: center;
}

.DateSelectorBtn {
  font-size: 1rem;
  color: var(--gray-3);
}

.subjectEl {
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.plansContainer {
  margin-top: 1rem;
}

.plansContainer .type {
  font-weight: 500;
}

.plansContainer#donePlans .type {
  color: #1bc100;
}

.plansContainer#todoPlans .type {
  color: #d60000;
}
