.DraggableModal .header {
  background-color: rgba(111, 111, 111, 0.267);
  height: 2.1rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 1rem;
}


.DraggableModal .header:hover {
  cursor: move;
}

.DraggableModal .header i { 
  font-size: 2rem;
  color: var(--orange-1);
  cursor: pointer;
  padding: 0.625rem;
}