.GroupContainer {
  height: 20.625rem;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out display;
  background-color: #fff;
}

.GroupContainer.hidden {
  display: none;
}

.layer {
  display: flex;
  width: 100%;
}

.layer#name {
  margin: 0rem 0.5rem 1rem 0.5rem;
  border-radius: 2em;
  background-color: var(--gray-1);
  padding-left: 0.7rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.layer#name p {
  max-width: calc(100% - 3rem);
  font-size: 1.1rem;
}

.layer#description {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  flex: 1;
  font-size: 0.8rem;
  font-weight: 500;
}

.layer#info > div {
  display: flex;
  margin: 0.3rem;
  font-weight: 500;
}

.layer#info i {
  margin-right: 0.2rem;
}

.layer#tags {
  height: 3rem;
  flex-wrap: wrap;
  height: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.tag {
  height: 1.5rem;
  border-radius: 0.5rem;
  padding: 0rem 0.3rem;
  margin: 0rem 0.2rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.layer#buttons {
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
