.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.contents {
  display: flex;
  gap: 2rem;
}

.contents .left {
  flex: 1;
}

.center {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* @media (max-width: 1800px) {
  .Main .box#SubjectsPie {
    max-width: 25rem;
  }

  .Main .box#planTimeline {
    min-width: 22.5rem;
  }

  .Main .layer .box {
    margin: 1.75rem;
  }
}

@media (max-width: 1600px) {
  .Main .box#SubjectsPie {
    max-width: 23rem;
  }
}
 */
