.Main {
  padding: 0rem 3.125rem;
}

.Main .layer {
  display: flex;
  min-height: calc(100vh - 6rem);
}

.Main .layer > div {
  display: flex;
  flex-direction: column;
}

.Main .layer .box {
  flex: 1;
}

.Main .layer .box .title {
  justify-content: left;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
}

.Main .box#calendar {
  padding: 2rem 5rem;
}

.Main .box#planTimeline {
  min-width: 23.5rem;
  height: min-content;
  overflow: hidden;
  display: block;
  padding-top: 0.5rem;
}

.Main .box#FriendsActivityViewer {
  max-height: calc(100vh - 10rem);
}

.Main .box#SubjectsPie {
  max-height: 80vh;
  padding-top: 1rem;
}

.Main .left {
  width: 30%;
}

.Main .center {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.Main .right {
  width: 30%;
  overflow: hidden;
}

/* @media (max-width: 1800px) {
  .Main .box#SubjectsPie {
    max-width: 25rem;
  }

  .Main .box#planTimeline {
    min-width: 22.5rem;
  }

  .Main .layer .box {
    margin: 1.75rem;
  }
}

@media (max-width: 1600px) {
  .Main .box#SubjectsPie {
    max-width: 23rem;
  }
}
 */
