.PomodoroTimer {
  width: 100%;
}

.PomodoroTimer .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
}

.PomodoroTimer .options {
  color: #000;
}
