.TutorialBtn {
  width: 4rem;
  height: 4rem;
  border-radius: 2.5rem;
  background-color: #a4afd4bb;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out box-shadow;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.TutorialBtn:hover {
  box-shadow: var(--shadow-1);
}

.TutorialBtn i {
  font-size: 1rem;
}
.TutorialBtn .hoverText {
  bottom: -2.3rem;
}

.TutorialBtn:hover .hoverText {
  opacity: 1;
  visibility: visible;
  bottom: -1rem;
}
