.Analysis {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Analysis p.summary {
  font-size: 1.7rem;
}

.barChart {
  height: 100%;
  flex: 1;
}

.header {
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.Analysis svg {
  overflow: visible;
}
