.SlidingOptBtn {
  position: relative;
  width: 100%;
  height: 2.5rem;
}

.SlidingOptBtn .optionsWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.SlidingOptBtn .optionsWrapper .option {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.063rem;
  white-space: nowrap;
  color: var(--gray0);
  transition: 0.3s ease-in-out color;
}

.SlidingOptBtn .optionsWrapper .option.on {
  color: #000;
}

.SlidingOptBtn .focusDisp {
  height: 90%;
  margin-top: 0.125rem;
  position: absolute;
  background-color: var(--blue0);
  border-radius: 3.125rem;
  top: 0em;
  transition: 0.3s ease-in-out left;
}

.SlidingOptBtn .check {
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out margin-right;
  opacity: 0;
  margin-right: 0rem;
}

.SlidingOptBtn .option.on .check {
  opacity: 1;
  margin-right: 0.2rem;
}
