/* .Groups {
  padding: 0rem 3.125rem;
}

.Groups .layer .boxContainer {
  display: flex;
  flex-direction: column;
}

.Groups .layer .header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.Groups .header .headerItem#Tags {
  width: 20rem;
}

.Groups .header .headerItem#SearchBar {
  width: 20rem;
} */

.layer {
  margin-bottom: 2rem;
}

.header {
  display: flex;
  gap: 2rem;
}

.headerItem {
  flex: 1;
}
