.layer {
  display: flex;
  gap: 2rem;
  height: calc(
    100vh - var(--header-height) - var(--header-offset) * 2 - var(--main-offset) *
      2
  );
  overflow: hidden;
}

.left {
  flex: 1;
}

.right {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#friendsTrendChart {
  height: 100%;
}

#friendsActivityViewer {
  height: calc(50% - 1rem);
  display: flex;
  flex-direction: column;
}

#friendRequestsViewer {
  height: calc(50% - 1rem);
  display: flex;
  flex-direction: column;
}
