.YouTubePlaylist  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.YouTubePlaylist .playlists{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 0.55rem));
  gap: 0.5rem;
  max-height: 20rem;
  overflow-y: auto;
}

.YouTubePlaylist .playlists .playlist {
  height: 9rem;
  cursor: pointer;
}

.YouTubePlaylist .playlist .name {
  background-color: var(--opacity-black);
  width: fit-content;
  padding: 0rem 0.3rem;
  color: #fff;
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-width: 80%;
}

.YouTubePlaylist .player {
  height: 15rem;
}