.extensionHeader {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid rgb(99, 99, 99);
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.extensionHeader > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.extensionHeader p {
  justify-content: center;
  margin-left: 1.25rem;
}

.websiteOptions {
  display: flex;
  margin-top: 0.625rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.ExtensionSetting div#submitBtn {
  position: absolute;
  right: 1rem;
}

.websiteOptions > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.websiteOptions div:nth-child(1) {
  justify-content: center;
}
