.MyGroupsViewer {
  height: 70vh;
  display: flex;
  width: 100%;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  min-height: 40rem;
}

.MyGroupsViewer .Swiper {
  padding-bottom: 1.5rem;
  width: 100%;
}

.noGroups {
  font-size: 2rem;
  color: var(--textColor);
}

.toGroups {
  text-decoration: underline;
}
