.ThemeSelector {
  width: 31.25rem;
  position: relative;
  overflow: hidden;
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.categoriesPage {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 0.05rem;
  margin-right: 0.05rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 2.5rem));
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  flex: 1;
}

div#useColor {
  position: absolute;
  bottom: 4rem;
  right: 0.5rem;
  color: #fff;
  font-size: 2rem;
}

div#useColor .colorSelecter {
  position: absolute !important;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
  bottom: 1rem;
  right: 2.5rem;
}

div#useColor:hover .colorSelecter {
  opacity: 1;
  visibility: visible;
}

div#useColor .hoverText {
  right: 0rem;
}

div#useColor:hover .hoverText {
  opacity: 1;
  visibility: visible;
  bottom: -1rem;
}

.toTheme {
  flex: 1;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories .category {
  height: 7rem;
  cursor: pointer;
}

.category .name {
  color: #fff;
  margin-top: 0.5rem;
  margin-left: 1rem;
  background-color: var(--opacity-black);
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

.themesPage {
  position: absolute;
  top: 0rem;
  left: 100%;
  background-color: #000000d1;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease-in-out left;
  display: flex;
  flex-direction: column;
}

.themesPage.opened {
  left: 0rem;
}

.themesPage .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}

.header i {
  cursor: pointer;
}

.themesPage .themes {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 2.5rem));
  justify-content: center;
  gap: 1.25rem;
  overflow-y: auto;
  flex: 1;
}

.themesPage .themes .theme {
  height: 7rem;
  cursor: pointer;
}

.themesPage .themes .theme .name {
  color: #fff;
  margin-top: 0.5rem;
  margin-left: 1rem;
  background-color: var(--opacity-black);
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}
