.ChatModalBtn {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  pointer-events: all;
}

.ChatModalBtn i {
  font-size: 1.6rem;
}

.ChatModalBtn .count {
  position: absolute;
  bottom: 0rem;
  right: 0.1rem;
  font-size: 0.8rem;
  background-color: rgb(255, 221, 0);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
