.top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.layer {
  height: 40vh;
  min-height: 30rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.layer#heatmap {
  height: unset;
  min-height: unset;
}

.layer#timeline {
  min-height: 50rem;
}

.subjectsPie {
  width: 50rem;
}