.NotificationsContainer {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotificationsContainer .bell i {
  font-size: 1.6rem;
}

.NotificationsContainer .count {
  position: absolute;
  bottom: 0rem;
  right: 0.1rem;
  font-size: 0.8rem;
  background-color: rgb(255, 221, 0);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotificationsContainer .notifications {
  position: absolute;
  right: 0rem;
  width: 25rem;
  background-color: #fff;
  top: 3rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
  box-shadow: var(--shadow10);
  border-radius: 0.5rem;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.NotificationsContainer:hover .notifications {
  visibility: visible;
  opacity: 1;
}

.NotificationContainer {
  display: flex;
  align-items: center;
  margin: 0.2rem;
}

.NotificationContainer:nth-last-child(1) {
  margin-bottom: 2rem;
}

.NotificationContainer .message {
  font-size: 0.8rem;
}

.NotificationContainer .buttons {
  display: flex;
  margin-left: auto;
}

.NotificationBtn {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0rem 0.25rem;
  cursor: pointer;
  position: relative;
}

.NotificationBtn .hoverText {
  bottom: -2rem;
}

.NotificationBtn:hover .hoverText {
  opacity: 1;
  bottom: -1.5rem;
}
